@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


.recomander h1,
h2 {
    display: block;
    text-align: center;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.recomander {
    margin-top: 80px;
    margin-bottom: 80px;
}

.sous-billeterie>:nth-child(2) {
    text-align: start;
    font-size: 17px;
    padding: 0;
    opacity: 70%;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}

.sous-billeterie {
    margin-left: 130px;
}

.poster {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;

}


iframe {
    width: 50%;
    height: 352px;
    frameBorder: 0;
    margin-top: 40px;

    allow: autoplay clipboard-writeen crypted-media fullscreen picture-in-picture;
    loading: lazy;
    border-radius: 12px;
}


.span span {
    display: block;
    text-align: start;
    margin: 25px;
    line-height: 0;
    margin-left: 255px;
    padding-top: -30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.span {
    margin-top: -50px;
    margin-left: -130px;

}

.spane span {
    display: block;
    text-align: center;
    padding-right: 180px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;


}


.rectangle img {
    width: 400px;
}

.rectangle1 img {
    width: 400px;
}

.spane button {
    background-color: #C88BD2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    margin-left: -120px;
    margin-top: 10px;
    width: 20%;
    padding: 10px;
    font-size: 0.6rem;
}

.disquette img {
    position: absolute;
    width: 391px;
    height: 235px;
    z-index: 10;
    margin-top: -300px;
    margin-left: -6%;
}

.billeterie {
    background-image: url("/public/bloc.png");
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    color: white;
}

.billeterie figure img {
    width: 592px;
    height: 842px;
    padding-top: 50px;

}

.billeterie article h2 {
    display: block;
    align-items: start;
    padding-right: 200Px;
    z-index: 10000;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    font-style: normal;
    font-weight: 500;
    margin-left: 50px;
}


article button {
    margin: 20px;
}

.shop {
    display: flex;
    flex-direction: row;
    margin-left: -100Px;
    width: 100%;

}





.vetement figure img {
    width: 524.22px;
    height: 350.69px;
    margin-left: -30px;
    margin-top: 200px;
}



.vetement2 figure img {
    width: 524.22px;
    height: 340.69px;
    margin-left: -50px;




}

.vetement2 {
    display: flex;
    flex-direction: row;
    margin-left: 230px;

}

.third {
    position: absolute;
    z-index: 2;
    margin-left: 10px !important;
    margin-top: 50px !important;

}

.fourth {
    position: absolute;
    z-index: 1;
    padding-left: 50px;
    margin-top: 20px !important;


}

.vetement {
    display: flex;
    flex-direction: row;

}

.first img {
    position: absolute;
    z-index: 2;


}

.second img {
    z-index: 1;
    position: absolute;
    margin-top: 130px !important;
}

.disque {
    display: flex;
    flex-direction: row;


}

.disque figure img {
    width: 339.39px;
    margin-top: 185px;
    margin-left: 300px;
}

.fifth img {
    position: absolute;
    z-index: 5;
    padding-left: 50px;
    margin-top: 80px;

}


.mini-vetement figure img {
    position: absolute;
    margin-top: 600px;
}

.seventh img {
    width: 484.14px;
    height: 261.1px;

    z-index: 2;
}

.height img {
    z-index: 1;
    position: absolute;
    width: 500.14px;
    height: 261.1px;
    padding-left: 90px;
    margin-top: 560px !important;
}

.mini-shop {
    display: flex;
    flex-direction: row;
    margin-top: -60px;
}

.mini-vetement2 figure img {

    margin-top: 600px;
    margin-left: 140px;
}

.nine img {
    width: 484.14px;
    height: 261.1px;
    z-index: 2;
    position: absolute;
    padding-left: 60px;
}

.ten img {
    z-index: 1;
    position: absolute;
    width: 500.14px;
    height: 261.1px;
    padding-left: 144px;
    margin-top: 560px !important;

}

.mini-vetement p {
    padding-top: 10px;
    position: absolute;
    margin-top: 830px;
    padding-left: 230px;
    text-align: start;
    font-size: 0.86rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;


}

.mini-vetement2 p {
    padding-top: 10px;
    position: absolute;
    margin-top: 830px;
    padding-left: 430px;
    font-size: 0.86rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;


}

.mini-vetement span {
    position: absolute;
    margin-top: 890px;
    padding-left: 480px;
    font-size: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.mini-vetement2 span {
    position: absolute;
    margin-top: 890px;
    padding-left: 100px;
    font-size: 0.7rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.mini-fifth img {
    position: relative;
    z-index: 1100000000;
    width: 150.24px;
    height: 146.51px;
    left: 235px;
    padding-top: 100px;


}

.mini-six img {
    position: absolute;
    z-index: 1000000;
    width: 150.24px;
    height: 146.51px;
    left: 375px;
    padding-top: 100px;

}

.bloc-2 {
    margin-left: 630px;
}



.bloc-2 h1 {
    font-size: 40px;
    flex-wrap: wrap;
    text-align: start;
}

.bloc-2 span {
    display: block;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 5px;
    text-align: start;
    font-size: 1.5rem;
}


.case div {
    margin-top: 30px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 15px;

}

.case {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -13px;



}

.case div p {
    position: absolute;
    margin-top: 2px;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    text-align: center;
    font-weight: bold;
    margin-left: 3.6px;
}

.police {
    margin-left: 4.6px !important;
}


.bloc-2 button {
    background-color: #C88BD2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30%;
    color: white;
    margin-top: 10Px;
    text-align: center;
    border: none;
    margin-left: -280px;
    font-size: 0.7rem;
    padding: 10px;
    margin-bottom: 60px;
}

.paragraphe {
    margin-top: -30px;
}

.bloc-2 p {
    margin-top: 30px;
    font-size: 1rem;
    margin: 5px;
    text-align: start;

}


.inscription {
    position: absolute;
    margin-top: 1070px;
    margin-bottom: 100px;
    margin-left: 180px;
}

.inscription p {
    text-align: center;
    margin-left: 470px;
}

.inscription h2 {
    text-align: center;
    margin-left: 270px;
    margin-top: 40px;
}


input[type="email"] {

    background: #D9D9D9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 40%;
    padding: 10px;
    margin-left: 505px;
    margin-bottom: 15px;
}


input[type="date"] {
    background: #D9D9D9;
    width: 80%;
    opacity: 0.80;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;
}


.billeterie button {
    background-color: #C88BD2;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: -200px;

}

select {
    width: 80%;
    opacity: 0.80;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;




}



.inscription button {
    background: #8BB7D2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-left: 217px;
    width: 12%;
    border: none;

}

.musique {
    position: absolute;
    margin-top: 620px;
    background-image: url('/public/fond.png');
    width: 100%;
    height: 431px;
    background-size: cover;
}

.musique article {
    background-color: rgb(241, 241, 241);
    border-radius: 10Px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    height: 40vh;
}

.musique article:first-child {
    background-color: rgb(0, 0, 0);
    border-radius: 10Px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}



input {

    outline: none !important;
    border: none !important;
}



@media screen and (max-width:600px) {
    .recomander {
        width: 100%;
    }

    .mini-vetement2 p {
        padding-left: 0;
        position: relative;
        left: 320%;
        top: 2%;
    }

    .mini-vetement span {
        padding-left: 500px;
    }

    .mini-vetement2 span {
        margin-top: 20px;
    }

    .musique {
        width: 350%;
        margin-top: 200px;
    }

    .inscription {
        margin-top: 650px;
    }

    .inscription p {
        margin-left: 220px;
        width: 100%;
        font-size: 1rem;
    }

    input[type="email"] {
        width: 100%;
        margin-left: 260px;
    }

    .inscription button {
        width: 20%;
    }




    .disquette img {
        margin-left: -100px;
    }



}